body {
	height: 97vh;
	/* font-family: sans-serif; */
	background-color: hotpink;
}

main {
	max-width: 100%;
	max-height: fit-content;
}
.A {
	height: 15vh;
}
.B {
	height: 50vh;
	/* flex-direction: column; */
}
.C {
	height: 10vh;
}
header {
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 2em;
	/* vertical-align: auto; */
	width: 75%;
	background-color: yellow;
	border: 5px rgb(0, 0, 0) solid;
	border-radius: 15px;
	/* margin: 0 auto; */
}
div {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
h1,
h2 {
	font-size: 12px;
	font-family: 'Fredoka One', cursive;
	text-align: center;
}
main {
	height: 50vh;
}

p {
	font-family: 'Fredoka One', cursive;
	font-size: 16px;
	text-align: center;
	height: 0.5vh;
}
#key-command-instructions {
	font-size: 15px;
	flex-flow: column;
	margin: -0.5vh 0 3vh 0;
}
a {
	font-family: 'Fredoka One', cursive;
	display: block;
	height: 55px;
	width: 55px;
	line-height: 55px;
	-moz-border-radius: 30px;
	border: 3px black solid;
	border-radius: 30px;
	background-color: yellow;
	color: black;
	text-align: center;
	font-size: 1em;
	margin-top: 3em;
}
a:hover {
	cursor: pointer;
	color: black;
	background-image: linear-gradient(
		to right,
		rgba(255, 230, 0, 0.781),
		rgb(253, 157, 47)
	);
}
#front {
	/* justify-content: center; */
	width: 30em;
	margin: 0 auto;
}
/* .floating {
	animation-name: floating;
	animation-duration: 3s;
	animation-iteration-count: infinite;
	animation-timing-function: ease-in-out;
	margin-left: 30px;
	margin-top: 5px;
} */

@keyframes floating {
	0% {
		transform: translate(0, 0px);
	}
	50% {
		transform: translate(0, 15px);
	}
	100% {
		transform: translate(0, -0px);
	}
}

#dog-image {
	/* width: 30em; */
	cursor: pointer;
	border-radius: 12.5%;
	max-height: 12em;
	box-shadow: 10px 10px 5px black;
}
#dog-image:hover {
	opacity: 75%;
}
.hidden {
	height: 65px;
}
@media (min-width: 800px) {
	body {
		background: rgb(238, 61, 102);
		background: -moz-radial-gradient(
			circle,
			rgba(238, 61, 102, 1) 70%,
			rgba(145, 28, 87, 0.9413825757575758) 100%
		);
		background: -webkit-radial-gradient(
			circle,
			rgba(238, 61, 102, 1) 70%,
			rgba(145, 28, 87, 0.9413825757575758) 100%
		);
		background: radial-gradient(
			circle,
			rgba(238, 61, 102, 1) 70%,
			rgba(145, 28, 87, 0.9413825757575758) 100%
		);
		filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ee3d66",endColorstr="#911c57",GradientType=1);
	}
	.C {
		margin-top: 2em;
	}
	h1,
	h2 {
		font-size: 20px;
	}
	#dog-image {
		max-height: 20em;
	}
	p {
		margin-top: 2em;
		font-size: 30px;
	}
}
