body {
	height: 97vh;
	/* font-family: sans-serif; */
}

main {
	max-width: 100%;
	max-height: fit-content;
}
.A {
	height: 15vh;
}
.B {
	height: 50vh;
	/* flex-direction: column; */
}
.C {
	height: 10vh;
}
header {
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 2em;
	/* vertical-align: auto; */
	width: 75%;
	background-color: yellow;
	border: 5px rgb(0, 0, 0) solid;
	border-radius: 15px;
	/* margin: 0 auto; */
}
div {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
h1,
h2 {
	font-size: 12px;
	font-family: 'Fredoka One', cursive;
	text-align: center;
}
main {
	height: 50vh;
}

p {
	font-family: 'Fredoka One', cursive;
	font-size: 16px;
	text-align: center;
	height: 0.5vh;
}
#key-command-instructions {
	font-size: 15px;
	flex-flow: column;
	margin: -0.5vh 0 3vh 0;
}
a {
	font-family: 'Fredoka One', cursive;
	display: block;
	height: 55px;
	width: 55px;
	line-height: 55px;
	-moz-border-radius: 30px; /* or 50% */
	border-radius: 30px; /* or 50% */
	background-color: black;
	color: white;
	text-align: center;
	font-size: 1em;
	margin-top: 3em;
}
a:hover {
	cursor: pointer;
	background-image: linear-gradient(
		to right,
		rgba(255, 230, 0, 0.781),
		rgb(253, 157, 47)
	);
}
#front {
	/* justify-content: center; */
	width: 30em;
	margin: 0 auto;
}
#dog-image {
	/* width: 30em; */
	cursor: pointer;
	border-radius: 12.5%;
	max-height: 12em;
	box-shadow: 10px 10px 5px black;
}
.hidden {
	height: 65px;
}
@media (min-width: 800px) {
	body {
		background-color: hotpink;
	}
	h1,
	h2 {
		font-size: 20px;
	}
	#dog-image {
		max-height: 20em;
	}
	p {
		font-size: 30px;
	}
}
